#!/bin/bash

version: "3"
services:
  postgres:
    container_name: postgres
    image: postgres:13
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data:rw

  redis:
    container_name: redis
    image: redis:latest
    environment:
      - REDIS_MAXMEMORY_POLICY=allkeys-lru
      - REDIS_LIST_MAX_ZIPLIST_ENTRIES=30
    volumes:
      - redis_data:/data
  web:
    container_name: web
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - static:/home/app/web/static
    expose:
      - 8000
    entrypoint:
      - sh
      - /home/app/web/config/docker/entrypoint.prod.sh
    ports:
      - "8000:8000"

  nginx:
    container_name: nginx
    build: ./config/nginx
    volumes:
      - static:/home/app/web/static
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  static:
  postgres_data:
  redis_data:
